# For container security fixes
# These must be last because they may override prior versions
pyarrow==14.0.1
transformers==4.36.0
triton==2.1.0
pillow==10.2.0
jupyterlab==3.6.7
aiohttp==3.9.4
# Will need to fix this warning: https://setuptools.pypa.io/en/latest/pkg_resources.html
setuptools==72.1.0
mpmath==1.3.0
GitPython==3.1.41
certifi==2023.7.22
werkzeug==3.0.3
onnx==1.16.0
