pyfastx==1.1.0
matplotlib==3.4.3
pillow==9.3.0
rdkit
urllib3
ijson
numpy
wandb
einops
pytest-forked
pyfaidx==0.7.2
webdataset==0.2.33
polars==0.16.7
more_itertools
pytest-dependency
testbook
git+https://github.com/prokotg/tfrecord@float16zlib
requests_mock
nvidia-pytriton==0.1.5
git+https://github.com/NVIDIA/dllogger@v1.0.0#egg=dllogger
POT==0.7.0
dgllife==0.2.8
biopandas==0.2.8
pipdeptree==2.13.0
gevent==23.9.1
joblib==1.2.0
pytest-cov
# Linters
ruff==0.0.292
black==23.1.0
pre-commit==3.4.0
