--extra-index-url https://pypi.ngc.nvidia.com
--extra-index-url https://pypi.nvidia.com
--extra-index-url https://pypi.python.org/simple
ruff==0.0.292
black==23.1.0
pre-commit==3.4.0
ipdb==0.13.11
tenacity==8.5.0
click==8.1.7
