sphinx>=3.5,<5
nbclient<0.6,>=0.2
docutils==0.16
ablog
myst-nb
rst-to-myst
nbsphinx==0.8.8
sphinx-book-theme==0.3.2
sphinx-copybutton
sphinx-design
sphinx-prompt
sphinxcontrib-bibtex
sphinx-tabs==3.2.0
exhale==0.2.3
breathe==4.14.1
sphinx-sitemap
ipython
sphinxcontrib-openapi
sphinx-autobuild
linkify-it-py