sphinx==4.5.0
nbclient<0.6,>=0.2
docutils==0.16
ablog
myst-nb
rst-to-myst
nbsphinx==0.8.8
sphinx-book-theme==0.3.2
sphinx-copybutton
sphinx-design
sphinx-prompt
sphinxcontrib-bibtex
sphinx-tabs==3.2.0
exhale==0.2.3
breathe==4.14.1
sphinx-sitemap
ipython
sphinxcontrib-openapi
sphinx-autobuild
linkify-it-py
sphinxcontrib-applehelp==1.0.4
sphinxcontrib-bibtex==2.6.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.1
sphinxcontrib-httpdomain==1.8.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-openapi==0.8.3
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
